bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
.vscode/
.idea/
.DS_Store
Thumbs.db
project.lock.json
project.fragment.lock.json
artifacts/
*.dbmdl
*.log
*.pdb
*.cache
*.zip
*.vspscc
*.vssscc
*.nupkg
*.snupkg
packages/
.nuget/
app.publish/
Migrations/
secrets.json
*.log
.idea/
*.sln.ide
